.case-studies {
	ul {
		display: flex;
		justify-direction: row;
		flex-wrap: wrap;
		li {
			width: 50vw;
			position: relative;
			display: block;
			* {
				color: white;
			}
			.bg-blur-clip {
				overflow: hidden;
				height: 100%;
				width: 100%;
				position: absolute;
				.background {
					background-size: cover;
					background-position: left center;
					height: 100%;
					width:100%;
					position: absolute;
					z-index: -2;
					@include prefix((
						filter: blur(5px),
						transform: scale(1.1, 1.1)
					), webkit moz ms o);
				}
			}
			.overlay {
				height: 100%;
				width:100%;
				position: absolute;
				z-index: -1;
				@include linear-gradient(rgba(lighten($color_accent, 10), .25), rgba(darken($color_accent, 10), .25));
			}
			.content {
				z-index: 1;
				padding: $side-padding;
				h2.client {
					padding-bottom: .75em;
					border-bottom: 1px solid white;
					float: left;
					margin-bottom: 0;
				}
				h1 {
					font-size: 2em;
					margin-top: 1.5rem;
					width: 100%;
					display: block;
					float: left;
				}
				p {
					width: 100%;
					display: block;
					float: left;
				}
				.read-more {
					width: 100%;
					display: block;
					float: left;
					font-weight: bold;
					margin-top: .75em;
					margin-bottom: $side-padding;
					i {
						margin-left: 1em;
						font-size: .8em;
						@include transition;
					}
				}
			}
			&:hover {
				cursor: pointer;
				.content .read-more i {
					margin-left: 1.5em;
					@include transition;
				}
			}
		}
	}
	a.more {
		@include span-columns(12);
		text-align: center;
		font-size: 1.25em;
		color: white;
		background: $color_accent;
		font-weight: bold;
		padding: 2em;
	}
	@media screen and (max-width: $medium-screen) {
		ul li {
			width: 100vw;
			.content {
				padding: 5vw;
				.read-more {
					margin-bottom: 5vw;
				}
			}
		}
	}
	@media screen and (max-width: $small-screen) {
		ul li .content {
			h1 {
				font-size: 1.25em;
				margin-bottom: 5vw;
			}
			p,
			.read-more{
				display: none;
			}
		}
		ul li .bg-blur-clip .background {
			@include prefix((
				filter: blur(0)
			), webkit moz ms o);
		}
	}
}