.pre-footer {
  width: 100%;
  background: rgb(242,242,242);
  display: inline-block;
  h1 {
    text-align: center;
    padding: ($side-padding * 2) $side-padding;
    font-size: 1.5em;
    background: white;
  }
  img {
    display: block;
    margin: 5em auto;
  }
  p {
    margin-bottom: 1em;
    text-align: center;
    i {
      color: $color_accent;
    }
    a i {
      margin-left: .5em;
      margin-right: .5em;
    }
    &:last-child {
      margin-bottom: 5em;
    }
  }
  @media screen and (max-width: $medium-screen) {
    h1 {
      font-size: 1rem;
    }
    p {
      width: 100%;
      padding: 0 $side-padding;
    }
  }
}
