.intro {
	background: $color_accent;
	h1 {
		font-size: 1.5em;
		text-align: center;
		margin-top: 0;
		padding: 4rem;
		color: white;
		@media screen and (max-width: 900px) {
			font-size: 1em;
		}
	}
}