.services {
	@include outer-container;
	ul {
		margin-top: -3rem;
		li {
			@include span-columns(4 of 12);
			@include omega(3);
			@include omega(7);
			text-align: center;
			margin-top: 3rem;
			img {
				@include span-columns(1 of 4);
				@include shift(1.5 of 4);
				fill: $color_accent !important;
			}
			h3 {
				@include span-columns(4 of 4);
				margin: 1em 0 .75em 0;
				font-size: 1.25rem;
				color: $color_accent;
			}
			p {
				@include span-columns(4 of 4);
			}
			&:nth-child(-n+3) {
				margin-top: 6rem;
			}
		}
		.rule {
			@include span-columns(12);
			height: 2px;
			background: $color_accent;
			margin: 3rem 0 1rem;
		}
		@media screen and (max-width: 900px) {
			margin-top: 0;
			li {
				@include span-columns(12 of 12);
				padding: 0 2em;
				img {
					@include span-columns(2.25 of 12);
					@include shift(4.875 of 12);
				}
				&:nth-child(-n+3) {
					margin-top: 3rem;
				}
			}
			.rule {
				display: none;
			}
		}
	} 
}