$services_number: 3;
$services_unit: (100 / $services_number);
$services_size: $services_unit + vw;
$background-color_difference: 5;

.services {
	@include outer-container;
	ul {
		li {
			@include span-columns(4 of 12);
			@include omega(3);
			@include omega(7);
			text-align: center;
			margin-top: 3rem;
			img {
				@include span-columns(1 of 4);
				@include shift(1.5 of 4);
				fill: $color_accent !important;
			}
			h3 {
				@include span-columns(4 of 4);
				margin: 1em 0 .75em 0;
				font-size: 1.25rem;
				color: $color_accent;
			}
			p {
				@include span-columns(4 of 4);
			}
			&:nth-child(-n+3) {
				margin-top: 6rem;
			}
		}
		.rule {
			@include span-columns(12);
			height: 2px;
			background: $color_accent;
			margin: 3rem 0 1rem;
		}
	} 
}