$services_number: 4;
$services_unit: (100 / $services_number);
$services_size: $services_unit + vw;
$background-color_difference: 5;

.services {
	ul {
		li {
			background: $color_accent;
			width: $services_size;
			padding: ($services_unit / 7.5) + vw;
			float: left;
			padding-top: 2em;
			padding-bottom: 2em;
			box-sizing: border-box;
			i {
				text-align: center;
				color: white;
				font-size: 2em;
				display: block;
			}
			h3 {
				@include span-columns(12);
				color: white;
				margin-top: ($services_unit / 10) + vw;
				text-align: center;
				font-size: 1.5rem;
				margin-bottom: 0;
			}
			p {
				@extend h3;
				margin-top: ($services_unit / 20) + vw;
				font-size: 1rem;
				margin-bottom: 0;
			}
			@for $i from 1 through $services_number {
				&:nth-child(#{$i}) {
					background: darken($color_accent, $background-color_difference * $i);
				}
			}
		}
	} 
	@media screen and (max-width: $medium-screen) {
		li {
			width: 100vw !important;
		}
	}
	@media screen and (max-width: $small-screen) {
		li p {
			display: none !important;
		}
	}
}